* {
    box-sizing: border-box;
    /* Asegura que padding y borde estén incluidos en el tamaño del elemento */
}

/* Estilos generales para el body */
body {
    margin: 0;
    padding: 0;
}

/* Estilos para el header */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a48eff;
    padding: 10px 20px;
    color: white;
}

/* Estilos para el div izquierdo (hamburguesa y logo) */
.header-left {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    font-size: 24px;
    margin-right: 15px;
}

.logo-img {
    height: 40px;
}

/* Estilos para el div central (barra de búsqueda) */
.search-bar {
    display: flex;
    align-items: center;
    width: 360px;
}

.search-bar input {
    background-color: #ECE6F0;
    flex-grow: 1;
    /* Ocupa todo el espacio disponible */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    /* Bordes redondeados solo a la izquierda */
    font-size: 16px;
    outline: none;
    box-shadow: none;
    border-right: none;
    /* Elimina el borde derecho del input */
    height: 40px;
    /* Fijar una altura consistente */
}

.search-bar button {
    background-color: #ECE6F0;
    border: 1px solid #ccc;
    /* Añadir borde al botón */
    border-left: none;
    /* Elimina el borde izquierdo del botón */
    padding: 0 10px;
    border-radius: 0 20px 20px 0;
    /* Bordes redondeados solo a la derecha */
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 40px;
    /* Fijar la misma altura que el input */
}

.search-bar button img {
    width: 20px;
    height: 20px;
}

/* Estilos para el div derecho (carrito, nombre y avatar) */
.header-right {
    display: flex;
    align-items: center;
}

.shopping-cart {
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 10px;
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*    HASTA ACA EL HEADER */