/* Variables de colores y fuentes */
:root {
    --primario200-luz: #ECE8FF;
    --primario300-luz: #AF9DF9;
    --primario400-luz: #A48EFF;
    --primario600-sombra: #7F63F2;
    --primario700-sombra: #5E3EE2;
    --primario800-sombra: #3A2D6E;
    --secundario500: #D1DCE5;
    --secundario300-luz: #DCEEFC;
    --secundario600-sombra: #A3C5E2;
    --secundario700-sombra: #71AEE0;
    --secundario800-sombra: #3C8CCD;
    --neutro300: #F9F9F9;
    --neutro400: #F5F7FA;
    --neutro500: #49454F;
    --neutro600: #3374DC;
    --neutro700: #000000;
    --acento200-luz: #F0F1F2;
    --acento300-luz: #FD8A76;
    --acento500: #FF4F17;
    --acento700-sombra: #71AEE0;

    --letraGeneral: 'Nunito';
    --letraBody: 'Nunito Sans';
}

/* Estilos para la pantalla de loading */
#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    /* Fondo blanco con transparencia */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99;
}

.loading-spinner {
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid var(--neutro600);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.loading-text {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    /* Color del texto de porcentaje */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    text-decoration: none;
    font-family: var(--letraGeneral);
}

/* Estilos para el header */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primario400-luz);
    padding: 10px 20px;
    color: white;
}

/* Estilos para el div izquierdo (hamburguesa y logo) */
.header-left {
    display: flex;
    align-items: center;
}

.header-left a {
    text-decoration: none;
}

.hamburger-menu {
    font-size: 24px;
    margin-right: 15px;
    cursor: pointer;
}

.logo-img {
    height: 40px;
}

/* Estilos para el div central (barra de búsqueda) */
.search-bar {
    display: flex;
    align-items: center;
    width: 360px;
}

.search-bar input {
    background-color: var(--neutro400);
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    font-size: 16px;
    box-shadow: none;
    border-right: none;
    height: 40px;
}

.search-bar button {
    background-color: var(--neutro400);
    border: 1px solid #ccc;
    border-left: none;
    padding: 0 10px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.search-bar button img {
    width: 20px;
    height: 20px;
}

.search-bar *,
.search-bar *::before,
.search-bar *::after {
    box-sizing: border-box;
}

/* Estilos para el div derecho (carrito, nombre y avatar) */
.header-right {
    display: flex;
    align-items: center;
}

.shopping-cart {
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 10px;
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*POPUP-LOGIN-USUARIO*/
#popup-login {
    display: none;
    background-color: var(--primario400-luz);
    position: absolute;
    top: 60px;
    right: 50px;
    z-index: 25;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 300px;
}

#popup-compras {
    display: none;
    background-color: var(--primario400-luz);
    position: absolute;
    top: 60px;
    right: 70px;
    z-index: 25;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 300px;
    line-height: 35px;
}

.cerrar-popup {
    position: absolute;
    padding: 0;
    width: 10px;
    right: 8px;
    top: 1px;
}

.encabezado-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto 15px auto;
    font-size: 16px;
}

.encabezado-popup img,
.encabezado-popup i {
    font-size: 24px;
    margin-right: 15px;
}

.btn-cerrar-popup {
    border: none;
    cursor: pointer;
    padding: 0;
    color: var(--neutro300);
}

#btn-cerrar-popup-login,
#btn-cerrar-popup-compras {
    background-color: var(--primario800-sombra);
}

.juego-precio {
    align-items: baseline;
}

.contenido-popup div {
    display: flex;
    justify-content: space-between;
}

.contenido-popup {
    text-align: left;
    margin-bottom: 25px;
    line-height: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.contenido-popup p img {
    margin-right: 5%;
}

#popup-compras p {
    text-align: left;
}

.contenido-popup p {
    padding-top: 15px;
    display: flex;
    align-items: center;
}

.btn-pagar-compras {
    border: none;
    background-color: #5E3EE2;
    color: #F0F1F2;
    cursor: pointer;
    border-radius: 24px;
    margin: 15px auto 0 auto;
    height: 38px;
    width: 60%;
    font-size: 16px;
}

/*    Hasta Aca El Header  */
/*    Barra Lateral   */
aside {
    padding-top: 25px;
    width: 60px;
    transition: width 0.3s ease;
    background-color: var(--primario800-sombra);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

aside img {
    width: 24px;
    height: auto;
}

aside ul {
    list-style: none;
    margin: 0;
    width: 100%;
}

aside ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
}

aside ul span {
    display: none;
    font-family: var(--letraTitulos);
    margin-left: 10px;
}

aside ul span a {
    text-decoration: none;
    color: var(--neutro300);
}

aside.open {
    width: 200px;
}

aside.open ul span {
    display: inline;
    color: var(--neutro300);
    font-weight: bold;
    letter-spacing: 4%;
    margin-left: 12%;
}

aside span:hover {
    background-color: var(--secundario600-sombra);
    transform: scale(1.10);
    cursor: pointer;
}

/*---- ARRANCA EL MAIN ----*/

.main-container {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

main {
    grid-column: 2;
    grid-row: 1;
    color: var(--primario700-sombra);
    margin: 0 auto;
    max-width: 1240px;
}

.carousel-section {
    margin: 60px auto;
    display: flex;
    flex-direction: column;
}

.carousel-container,
.cards-container {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
}

.cards-container {
    margin-top: 30px;
}

.carousel-container {
    height: 420px;
    overflow: hidden;
}

.carousel-track,
.carousel-cards {
    display: flex;
    gap: 25px;
    transition: transform 0.5s ease;
    width: max-content;
}

.carousel-section h2 {
    margin: 0 0 0 40px;
}

.card {
    background-color: var(--neutro300);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    flex: 0 0 213px;
    transition: background-color 0.5s, transform 0.5s;
}

.card:hover {
    box-shadow: 0px 0px 20px var(--primario400-luz);
    transform: scale(1.10);
}

.card img {
    width: 213px;
    height: 243px;
    display: block;
}

.texto-cards {
    width: 213px;
    height: auto;
}

.nombre-y-puntuacion-cards {
    display: flex;
    justify-content: space-between;
    line-height: 1;
}

.puntuacion {
    display: flex;
    align-items: center;
}

.puntuacion img {
    width: 15px;
    height: 15px;
    margin-left: 3px;
}

.texto-cards h3 {
    margin-top: 14px;
    margin-bottom: 0;
    color: var(--primario800-sombra);
}

.categoria-card {
    margin: 0;
}

.texto-cards p {
    font-size: 14px;
    color: var(--neutro700);
}

.container-boton-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-cards,
.botonComprar {
    height: 30px;
    background-color: var(--secundario300-luz);
    color: var(--primario800-sombra);
    font-weight: bold;
    margin: 5px 0 15px 0;
    border-radius: 24px;
    border: 3px solid var(--primario800-sombra);
    cursor: pointer;
    transition: background-color 0.5s, transform 0.5s;
}

.boton-cards:hover,
.botonComprar:hover {
    background-color: var(--acento300-luz);
    color: var(--primario800-sombra);
    transform: scale(1.10);
}

.botonComprar {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s, transform 0.5s;
}

.botonComprar img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    color: var(--primario800-sombra);
}

.botonComprar.clickeado {
    background-color: #28a745;
    color: var(--primario800-sombra);
    text-align: center;
    transition: background-color 0.5s, transform 0.5s;
}

.ribbon {
    position: absolute;
    bottom: 80px;
    background-color: #28a745;
    color: white;
    padding: 8px 18px;
    font-size: 16px;
    font-weight: bold;
    transform: rotate(-30deg);
    z-index: 10;
    display: none;
}


img.left-arrow,
img.right-arrow {
    width: 36px;
    height: 106px;
    cursor: pointer;
    z-index: 3;
    user-select: none;
}

.right-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/*Aca arranca el Footer*/
footer {
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    height: 455px;
    background-color: var(--primario800-sombra);
    color: var(--primario400-luz);
    font-size: 16px;
}

footer ul li {
    font-family: var(--letraTitulos);
}

footer div div div {
    width: 24%;
}

footer h3 {
    font-size: 18px;
    font-family: var(--letraTitulos);
    color: var(--secundario300-luz);
}

footer ul {
    list-style: none;
    padding-left: 0%;
}

.footer-arriba,
.footer-abajo {
    display: flex;
    justify-content: space-between;
}

footer a {
    color: var(--primario400-luz);
}

footer p {
    text-align: center;
}

footer .footer-iconos {
    width: 100%;
    padding-top: 0%;
    display: flex;
    justify-content: space-between;
}

footer .logo-footer {
    width: 95px;
    margin-top: -35px;
    margin-right: 18px;
}

footer .footer-redes {
    display: flex;
    justify-content: space-between;
}

footer .footer-redes img {
    width: 27px;
    height: 27px;
    margin-left: 7px;
    margin-right: 7px;
}

/* Estilos para móviles con max-width (pantallas de 768px o menos) */
@media (max-width: 768px) {
    #loading {
        display: none;
    }

    .main-header {
        width: 100%;
        justify-content: start;
    }

    .search-bar,
    input {
        width: 140px;
    }

    .header-right {
        margin-left: 50px;
    }

    .header-right img {
        width: 28px;
        height: 28px;
    }

    .encabezado-popup img {
        width: 40px;
        height: 40px;
    }

    .user-info span {
        display: none;
    }

    #popup-compras,
    #popup-login {
        width: auto;
    }

    #popup-compras {
        padding: 0 10px;
    }

    footer {
        height: 380px;
    }

    footer h3,
    footer {
        font-size: x-small;
    }

    .carousel-section h2 {
        font-size: 20px;
    }

    footer img {
        display: none;
    }

    footer p {
        text-align: left;
    }

    .carousel-container {
        height: 300px;
    }

    .main-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        width: 100%;
        max-width: 768px;
    }

   
    main {
        margin: 0 10px;
        width: 100%;
    }

    .carousel-section {
        margin: 30px 0;
        width: 100%;
        overflow: hidden;
    }

    .card:hover {
        transform: scale(1);
    }

    .cards-container {
        margin: 0;
    }

    .carousel-cards {
        overflow: visible;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 15px;
    }

    .right-arrow {
        left: 330px;
    }

    .card {
        flex: 0 0 160px;
        border-radius: 16px;
    }

    .card img {
        width: 160px;
        height: 180px;
    }

    .texto-cards {
        width: 160px;
    }

    .nombre-y-puntuacion-cards h3 {
        font-size: 16px;
    }

    .puntuacion img {
        width: 12px;
        height: 12px;
    }

    .texto-cards p {
        font-size: 12px;
    }

    .container-boton-card {
        width: 160px;
    }

    .boton-cards,
    .botonComprar {
        height: 25px;
        font-size: 12px;
        border-radius: 20px;
    }

    .botonComprar img {
        width: 16px;
        height: 16px;
    }

    .puntuacion {
        margin-top: 5px;
    }

    aside {
        display: none;
    }
   
    aside.open{
        position: absolute;
        z-index: 999;
        width: 60px;
        display: flex;
        flex-direction: column;
    }

    aside.open ul span {
        display: none; /* Asegura que el texto no se muestre al abrir */
    }
}

/*Parte vinculada al registro html*/
.registro-header {
    background-color: var(--primario400-luz);
    height: 140px;
    display: flex;
    justify-content: space-around;
}

.registro-header img {
    width: 289px;
    height: 134px;
}

.tituloHeaderRegistro {
    display: flex;
    flex-direction: column;
    font-family: var(--letraGeneral), sans-serif;
    color: var(--secundario300-luz);
    margin-top: 40px;
}

.tituloHeaderRegistro h2 {
    margin: 0;
    padding: 0;
}

.registroContenedor {
    width: 820px;
    height: 465px;
    margin: 80px auto;

}

.registroFormulario {
    background-color: #3A2D6E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    color: var(--secundario300-luz);
    border-radius: 10px;
    font-family: var(--letraGeneral), sans-serif;
    text-align: left;
}

.registroFormulario img {
    width: 45px;
    height: auto;
    margin: 0;
}

.logoForm,
.captcha,
.submit,
.logAgain {
    display: flex;
    width: 600px;
    align-items: center;
    justify-content: center;
}

.camposObligatorios {
    width: 600px;
}

.logoForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    height: 90px;
}

.registroFormulario h3 {
    margin: 0;
}

.datosPersonales {
    width: 600px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "nombre nombre apellido apellido"
        "apodo edad email email"
        "clave1 clave1 clave2 clave2"
}

.nombre {
    grid-area: nombre;
}

.nombre,
.apellido,
.apodo,
.edad,
.email,
.clave1,
.clave2 {
    display: flex;
    flex-flow: column;
}

.apellido {
    grid-area: apellido;
}

.apodo {
    grid-area: apodo;
}

.edad {
    grid-area: edad;
    display: flex;
    flex-flow: column;
}

.email {
    grid-area: email;
}

.clave1 {
    grid-area: clave1;
}

.clave2 {
    grid-area: clave2;
}

.datosPersonales input {
    border-radius: 10px;
    width: 90%;
}


input#edad {
    width: 80%;
}

.logAgain a {
    text-decoration: none;
    color: var(--secundario700-sombra);
    padding-left: 5px;
}

.logAgain a:hover {
    text-decoration: none;
    color: var(--acento500);
}

.submit,
.logAgain {
    justify-content: center;
}

.buttonCrear {
    width: 322px;
    height: 44px;
    border-radius: 24px;
    background-color: var(--secundario700-sombra);
    font-weight: bold;
    font: size 14px;
    color: var(--secundario300-luz);
    box-shadow: 0 7px var(--neutro700);
    cursor: pointer;
    overflow: hidden;
    transition: left 0.5s ease-in-out;
    position: relative;
}

.buttonCrear:before {
    /*agregado para hover*/
    content: "Crear Cuenta";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -200px;
    top: 0;
    background: linear-gradient(45deg, var(--primario800-sombra), transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    transition: left 0.5s ease-in-out;
}

.buttonCrear:after {
    /*agregado para hover*/
    content: "Crear Cuenta";
    position: absolute;
    width: 100%;
    height: 100%;
    right: -200px;
    top: 0;
    background: linear-gradient(45deg, transparent, var(--primario800-sombra));
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    transition: right 0.5s ease-in-out;
}

.buttonCrear:hover:after {
    /*agregado para hover*/
    right: 0;
    animation: infinite-spinning 10s 0.5s infinite;
}

.buttonCrear:hover:before {
    /*agregado para hover*/
    left: 0;
    animation: infinite-spinning 10s 0.5s infinite;
}

@keyframes infinite-spinning {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.buttonCrear:active {
    background-color: var(--secundario700-sombra);
    box-shadow: 0 5px var(--neutro700);
    transform: translateY(4px);
}

.captcha img {
    width: 60px;
    height: 60px;
}

.logoForm {
    flex-direction: column;
    justify-content: center;
}

.captcha {
    background-color: var(--secundario300-luz);
    width: 230px;
    height: 50px;
    color: var(--neutro700);
    margin: 10px;
    border-radius: 10px;
}

.captcha div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.registroFormulario label {
    text-align: left;
}

.camposObligatorios p,
label span,
.datosPersonales div p {
    margin: 0;
    color: var(--acento300-luz);
}

.datosPersonales div p {
    font-size: 14px;
}

.ocultar {
    visibility: hidden;
}

@keyframes cambiarColor {
    0% {
        background-color: var(--primario800-sombra);
    }

    25% {
        background-color: var(--primario600-sombra);
    }

    50% {
        background-color: #3ba773;
    }

    75% {
        background-color: #218968;
    }

    100% {
        background-color: var(--primario800-sombra);
    }
}

.validarCorreo {
    font-family: var (--letraBody);
    background-color: #3A2D6E;
    color: #DCEEFC;
    align-content: center;
    justify-content: center;
    animation: cambiarColor 10s linear infinite;
}

.validarCorreo h2 {
    text-align: center;
}

.ocultarMostrarPsw {
    display: flex;
    align-items: center;

}

.ocultarMostrarPsw img {
    width: 22px;
    height: 12px;
}

input#pwd1 {
    width: 82%;
    border-radius: 10px 0 0 10px;
    border-right: none;
}

input#pwd2 {
    width: 82%;
    border-radius: 10px 0 0 10px;
    border-right: none;
}

button#btn-psw,
button#btn-psw2 {
    padding: 0;
    height: 21.2px;
    border: 0;
    border-radius: 0 10px 10px 0;
    border-left: none;
    align-items: center;
    border-bottom: 1.600px solid #7a7575;
    border-top: 1.600px solid #090606;
    border-right: 1.600px solid #7a7575;
}

#loading-container {
    display: none;
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    z-index: 999;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

ass #loading-progress {
    font-size: 24px;
    color: var(--acento500);
    margin-top: 20px;
    position: relative;
    top: 10px;
}

/* Clase para ocultar elementos */
.loading-oculto {
    display: none;
}

/*Hasta aca llega registro html*/

/*Arranca inicio sesion*/

.contenedor-inicio-sesion {
    display: flex;
}

.contenedor-imagenlogo-botones-inicio-sesion {
    background-color: var(--primario800-sombra);
    border-radius: 20px;
}

.imagen-logo-inicio-sesion {
    width: 400px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.contenedor-botones-inicio-sesion {
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 45px;
    width: 350px;
}

.contenedor-principal-inicio-sesion {
    margin-top: 80px;
    margin-bottom: 105px;
    display: flex;
    justify-content: center;
}

.btn-iniciar-sesion2,
.btn-iniciar-sesion,
.btn-iniciar-sesion-google,
.btn-iniciar-sesion-facebook,
.btn-iniciar-sesion-registrate {
    font-family: var(--letraGeneral, --letraBody);
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 0.7px;
    border-radius: 24px;
    border: 2px solid;
    height: 40px;
}

.btn-iniciar-sesion-google,
.btn-iniciar-sesion-facebook {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-iniciar-sesion {
    background-color: var(--primario700-sombra);
    color: var(--neutro300);
    margin-top: 30px;
    margin-bottom: 2.5px;
    border-color: var(--neutro300);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-iniciar-sesion-facebook {
    background-color: var(--neutro600);
    color: var(--neutro300);
}

.btn-iniciar-sesion-registrate {
    margin-top: 2.5px;
    background-color: var(--secundario700-sombra);
    color: var(--neutro300);
}

.btn-iniciar-sesion-google:hover,
.btn-iniciar-sesion:hover,
.btn-iniciar-sesion-facebook:hover,
.btn-iniciar-sesion-registrate:hover {
    transform: scale(1.10);
    cursor: pointer;
}

.logo-google-btn,
.logo-facebook-btn {
    padding-left: 5px;
    width: 24px;
    height: 24px;
}

.divisor-login {
    color: var(--neutro300);
}

/* ARRANCA INICIO SESION CUENTA */

.form-inicio-sesion-cuenta {
    width: 400px;
    height: 400px;
}

.contenedor-inicio-sesion-cuenta {
    margin-top: 70px;
}

.contenedor-inputs-inicio-sesion {
    font-size: 14px;
    color: var(--neutro300);
    flex-direction: column;
    padding-left: 7%;
    padding-right: 7%;
}

.form-p-inicio-sesion-cuenta,
.form-inicio-sesion-cuenta-registrarme {
    font-size: 14px;
    text-align: center;
    color: var(--neutro300);
}

.form-inicio-sesion-cuenta-registrarme:hover {
    color: var(--acento500);
}

.p-obligatorios {
    margin: 0;
    color: var(--acento300-luz);
}

.form-inicio-sesion-cuenta-registrarme {
    color: var(--secundario700-sombra);
    text-decoration: none;
}

.btn-iniciar-sesion2 {
    background-color: var(--primario700-sombra);
    color: var(--neutro300);
    width: 340px;
    margin-top: 20px;
    margin-left: 6%;
    margin-right: 6%;
}

.btn-iniciar-sesion2:hover {
    transform: scale(1.10);
    cursor: pointer;
}

.input-inicio-sesion-cuenta {
    width: 332px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid;
    margin-bottom: 10px;
}

.p-obligatorio-contrasena {
    height: 20px;
}

/* Arranca la pagina del juego */

/*Arranca ventana del juego */
.contenedor-principal-4-en-linea {
    height: 2000px;
    width: 1000px;
    margin-left: 120px;
    margin-right: 60px;
    margin-top: 80px;
}

.contenedor-juego-4-en-linea {
    height: 500px;
    background-color: var(--primario800-sombra);
    border-radius: 5px;
    display: flex;
}

.contenedor-titulo-btn-volver {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--neutro500);
}

.btn-volver,
.btn-jugar-4-en-linea {
    width: 160px;
    height: 50px;
    font-family: var(--letraGeneral, --letraBody);
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 0.7px;
    border-radius: 24px;
    border: 2px solid;
    background-color: var(--secundario700-sombra);
    color: var(--neutro300);
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.btn-volver:hover {
    background-color: var(--secundario600-sombra);
    color: var(--primario800-sombra);
    transform: scale(1.10);
    cursor: pointer;
    border-radius: 24px;
}

.btn-jugar-4-en-linea:hover,
.btn-jugar-4-en-linea:focus {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 1.5em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--acento200-luz);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--acento200-luz);
    }
}

.contenedor-juego-4-en-linea-izq,
.contenedor-juego-4-en-linea-der,
.contenedor-img-personajes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-juego-4-en-linea-izq {
    width: 60%;
}

.contenedor-juego-4-en-linea-der {
    width: 40%;
}

.img-4-en-linea {
    width: 520px;
}

.img-personaje-juego {
    margin: 10px;
}

.vs-personajes {
    color: var(--acento300-luz);
}

.titulo-personajes-vs {
    font-size: 25px;
    text-align: center;
    font-family: var(--letraGeneral);
    color: var(--neutro300);
    text-shadow: -1px -1px 0 var(--neutro700),

        1px -1px 0 var(--neutro700),
        -1px 1px 0 var(--neutro700),
        1px 1px 0 var(--neutro700),
        1px 0px 0 var(--neutro700),
        -1px 0px 0 var(--neutro700),
        0px 1px 0 var(--neutro700),
        0px -1px 0 var(--neutro700);
}

.p-descripcion-juego {
    text-align: center;
    color: var(--primario200-luz);
    font-family: var(--letraGeneral);
    font-size: 20px;
}

.contenedor-iconos-redes,
.contenedor-btn-jugar-4-en-linea {
    display: flex;
    justify-content: center;
}

.contenedor-iconos-redes img {
    width: 25px;
    height: 25px;
    margin: 5px;
}

.icono-no-me-gusta {
    transform: rotate(180deg);
}

.btn-jugar-4-en-linea {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono-play-jugar {
    width: 0;
    height: 0;
    border-left: 17px solid var(--neutro300);
    border-top: 8.5px solid transparent;
    border-bottom: 8.5px solid transparent;
    margin-left: 10px;
}

/*termina ventana del juego */

/*Arranca ventana de instrucciones */

.contenedor-instrucciones-4-en-linea {
    margin-top: 40px;
    height: 340px;
    background-color: var(--secundario300-luz);
    border-radius: 5px;
    display: flex;
    border: 2px solid var(--secundario300-luz);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.contenedor-instrucciones-4-en-linea-izq,
.contenedor-instrucciones-4-en-linea-der {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-instrucciones-4-en-linea-izq {
    width: 60%;
}

.contenedor-instrucciones-4-en-linea-der {
    width: 40%;
}

.contenedor-btn-pasos-4-en-linea {
    margin-top: -5px;
    width: 380px;
    height: 25px;
    background-color: var(--secundario600-sombra);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-instrucciones {
    margin-left: 3px;
    margin-right: 3px;
    width: 70px;
    height: 20px;
    font-family: var(--letraGeneral, --letraBody);
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 0.7px;
    border-radius: 24px;
    border: 2px solid;
    background-color: var(--neutro600);
    color: var(--neutro300);
}

.btn-instrucciones:hover {
    background-color: var(--secundario600-sombra);
    color: var(--primario800-sombra);
    transform: scale(1.10);
    cursor: pointer;
    border-radius: 24px;
}

.titulos-instrucciones {
    font-size: 20px;
    color: var(--neutro700);
    font-family: var(--letraGeneral, --letraBody);
    letter-spacing: 0.13%;
    margin-bottom: 5px;
}

.parrafo-instrucciones {
    margin-top: 0;
    color: var(--neutro500);
    font-family: var(--letraBody, --letraGeneral);
    font-size: 16px;
}

.titulos-instrucciones,
.parrafo-instrucciones {
    margin-left: 40px;
}

.imagen-pasos {
    width: 380px;
    height: 250px;
    margin-top: 25px;
}

/*Arranca los videos */

.contenedor-principal-videos {
    margin-top: 40px;
    height: 350px;
    border-radius: 5px;
}

.titulo-videos {
    font-size: 25px;
    letter-spacing: 0.13%;
    color: var(--neutro700);
}

.contenedor-videos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor-imagen-video {
    width: 323px;
    height: 181px;
    position: relative;
    display: inline-block;
}

.img-videos {
    width: 100%;
    height: auto;
}

.btn-video {
    position: absolute;
    top: 50%;
    /* Colocar el botón al centro verticalmente */
    left: 50%;
    /* Colocar el botón al centro horizontalmente */
    transform: translate(-50%, -50%);
    /* Centra el botón perfectamente */
    background-color: var(--neutro500);
    /* Fondo semitransparente */
    border: none;
    cursor: pointer;
    padding: 28px;
    border-radius: 100%;
    /* Hace que el botón sea redondo */
}

.icono-play-video {
    width: 0;
    height: 0;
    border-left: 35px solid white;
    /* Crea el triángulo del icono play */
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent;
    margin-left: 13%;

}

.btn-video:hover {
    background-color: var(--secundario600-sombra);
    cursor: pointer;
    border-radius: 100%;
    border: 3px solid var(--primario800-sombra);
}

.titulo-video {
    margin-top: 2px;
    color: var(--neutro700);
    font-size: 18px;
}

.p-tiempo {
    margin-top: 2px;
    color: var(--neutro500);
    font-size: 16px;
}

.contenedor-titulo-tiempo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-descripcion-video-juego {
    margin-top: 2px;
    font-size: 14px;
    color: var(--neutro500);
}

/*Termina los videos*/

/*Arrancan los comentarios*/

.contenedor-principal-comentarios {
    margin-top: 40px;
    height: 450px;
    border-radius: 5px;
    background-color: var(--primario800-sombra);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-input-comentarios {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-usuario-comentario,
.avatar-comentario {
    width: 70px;
    height: 70px;
    border-radius: 24px;
    border: 2px solid;
    color: var(--neutro700);
    padding: 4px;
    background-color: #D9D9D9;
}

.input-comentarios {
    margin-left: 5px;
    width: 800px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid;
}

.contenedor-btn-comentarios {
    display: flex;
    margin-top: -47px;
    justify-content: flex-end;
    align-items: center;
    width: 886.41px;
}

.btn-enviar-comentarios {
    width: 221px;
    height: 45px;
    font-family: var(--letraGeneral, --letraBody);
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 0.7px;
    border-radius: 24px;
    border: 2px solid;
    background-color: var(--secundario700-sombra);
    color: var(--neutro300);
}

.btn-enviar-comentarios:hover {
    background-color: var(--secundario600-sombra);
    color: var(--primario800-sombra);
    transform: scale(1.10);
    cursor: pointer;
    border-radius: 24px;
}

.contenedor-input-comentarios {
    margin: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-principal-comentario {
    display: flex;
    justify-content: center;
    width: 886.41px;
    margin-top: 25px;
    background-color: #D9D9D9;
    border-radius: 20px;
    height: 90px;

}

.contenedor-comentario {
    width: 600px;
}

.avatar-comentario {
    margin-right: 5px;
    margin-top: 4.52px;
}



.nombre-comentario,
.p-comentario,
.p-fecha-comentario {
    color: var(--neutro500);
    font-size: 12px;
}

.contenedor-btn-ver-mas-comentarios {
    display: flex;
    margin-top: -47px;
    justify-content: flex-end;
    align-items: center;
    width: 945px;
}

.btn-ver-mas-comentarios {
    background-color: transparent;
    border: none;
    color: var(--primario200-luz);
    font-size: 12px;
    font-family: var(--letraGeneral);
    letter-spacing: 0.40px;
}


.btn-ver-mas-comentarios:hover {
    background-color: var(--secundario600-sombra);
    color: var(--primario800-sombra);
    transform: scale(1.10);
    cursor: pointer;
    border-radius: 24px;
}